src/dados/*
!src/dados/.gitkeep
!src/dados/patchs.gitkeep
!src/dados/patchs_pred.gitkeep
src/documentos/*
!src/documentos/.gitkeep
src/uties
src/uties/*
src/feature_analysis/SHP_pointsSoil/*
src/feature_analysis/roisSoils/*